<navbar class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
            <i class="fa fa-camera-retro">
                <strong class="text-white pl-2">Gallery</strong>
            </i>
        </a>
        <button class="navbar-toggler collapsed" 
            data-bs-toggle="collapse" 
            data-bs-target="#more-info">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</navbar>
<div class="bg-dark collapse" id="more-info">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
                <h4 class="text-white">About</h4>
                <p class="text-muted">Write about you...</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
                <h4 class="text-white">Contact</h4>
                <ul class="list-unstyled">                    
                    <li class="contact-li">
                        <a href="#" class="text-muted contact-info"><i class="fa fa-brands fa-linkedin"></i>LinkedIn</a>
                    </li>
                    <li> 
                        <a href="#" class="text-muted contact-info"><i class="fa fa-brands fa-github"></i>GitHub</a>
                    </li>
                    <li>
                        <a href="mailto:#" class="text-muted contact-info"> <i class="fa fa-envelope"></i>E-mail</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>